 .horror{
    --background: #1E0000; 
  }
  ion-card{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
  }
  .horrorCard{
    --background: #300001;
    
    //height: 30%;
  }
  ion-card-title{
      color: white;
      text-align: center;
  }
  img{
      max-height:200px;
      width: 100%;
  }


  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    // quran
  .quran{
    --background:rgba(29 , 74 , 124);
  }
  .quranC{
    
    --background:rgb(193, 141, 62); 
   
  }
  .quranT{
    color: #375E4C;
    font-style: bold;
  }
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    // motivation --background:rgba(56, 0, 33, 0.69); --background:rgba(66, 0, 39, 0.58); 
  .motivation{ 
    --background: rgba(217, 54, 86, 0.85);
  }
  .motivationC{ 
    
    --background: rgba(196 , 229 , 225);   
  }
  .motivationT{ 
    color: #144063;
      }

  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    // realistic
  .realistic{
    --background:rgba(164, 70, 62); 
  }
  .realisticC{
    
    --background:rgba(79, 154, 132); 
   
  }
  .realisticT{
           color:#DA281E;
      }

  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    // go7a
  .go7a{
    --background:rgba(209, 148, 166); 
  }
  .go7aC{
    
    --background:rgba(114, 33, 24); 
   
  }
  .go7aT{
         color: #92AF48;
  }

  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    // sad

  .sad{
    --background:#2e323c; 
  }
  .sadC{
    
    
    --background:#2b4251; 
   
  }
  .sadT{
    
      }

  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    // Amsal


  .Amsal{
    --background:	#284540; 
  }
  .AmsalC{
    
    --background:#111A29; 
   
  }
  .AmsalT{
    
      }
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////


      .scientific{
        --background:	#1F847B; 
      }
      .scientificC{
        
        --background:#D6AC63; // #608E7A
       
      }
      .scientificT{
        color: 	#1C3326;
          }

          ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////

          
 .children{
      --background:	  #2C3F46 ;      
          }
 .childrenC{
            
       --background: #D0AA49 ; 
           
          }
.childrenT{
            
      }
      .abr{
       --background:#90B2BB ;
            }
   .abrC{
              
        --background: #2A414F; 
             
            }
  .abrT{
              
        }
        .learn{
    --background:#3A5154; 
          }
 .learnC{
            
      --background:#B7673C; 
           
          }
.learnT{
            color: #C7C7C7;
      }




      
      .sa7aba{
      --background:#532D46; 
          }
 .sa7abaC{
            
       --background:#4E5D7A; 
           
          }
.sa7abaT{
            
      }



      .darab{
        --background:#481B2F; 
            }
   .darabC{
              
         --background:#B0905E; 
             
            }
  .darabT{
              color: #222748;
        }

        .anb{
          --background:#214738; 
              }
     .anbC{
                
           --background:	#9ABDA9; 
               
              }
    .anbT{
                color: #031D12;
          }